.header {
  background: #3C4619;
  height: 100px;
  @media (max-width: 768px) {
    height: auto;
    padding: 10px 0;
  }

  @media (max-width: 480px) {
    height: auto;
    padding: 10px 0;
  }
}

.nav {
  display: flex;
  justify-content: end; /* центрирование по горизонтали */
  @media (max-width: 1200px) {
    justify-content: space-between;
  }
  @media (max-width: 1024px) {

  }

  @media (max-width: 768px) {

  }

  @media (max-width: 600px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    grid-template-areas:
            ". ."
            "search search";
  }

  .menu {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    @media (max-width: 768px) {
      align-items: center;
      padding: 0;
      justify-content: end;
    }

    @media (max-width: 480px) {

    }


    &_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;

      color: #FFFFFF;
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 18.96px; /* 150.476% */
      letter-spacing: 0.15px;
      text-transform: uppercase;
    }

    .searchBox {
      display: flex;
      align-items: center;
      height: 40px;
      padding: 10px;
      border: none;
      border-radius: 40px;
      transition: 0.4s;
      @media (max-width: 600px) {
        display: none;
      }

      &.active {
        border: 1px solid white;
        transition: 0.4s;

        .searchInput {
          width: 240px;
          padding: 0 25px;

          @media (max-width: 768px) {
            width: 180px;
          }

          @media (max-width: 480px) {

          }
        }
      }

      &.active {
        .searchButton {
          color: white;

          svg {
            transform: translateX(-240px);
            transition: 0.4s;
            @media (max-width: 768px) {
              transform: translateX(-180px);
            }
          }
        }
      }

      .searchButton {
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        transition: 0.4s;

        & svg {
          font-size: 20px;
          font-weight: bolder;
          transform: translateX(0px);
          transition: 0.4s;

        }

      }

      .searchInput {
        outline: none;
        float: left;
        padding: 0;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 18.96px;
        letter-spacing: 0.15px;
        color: #FFFFFF;
        transition: 0.4s;
        width: 0;

        &::-webkit-input-placeholder {
          color: rgba(255, 255, 255, 0);
          transition: 0.3s;
        }
      }
    }
  }

  .searchBox {
    display: none;
    align-items: center;
    height: 40px;
    padding: 10px;
    border-radius: 40px;
    transition: 0.4s;
    border: 1px solid white;
    @media (max-width: 600px) {
      grid-area: search;
      display: flex;
    }

    .searchButton {
      float: right;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      transition: 0.4s;
      color: #FFFFFF;

      & svg {
        font-size: 20px;
        font-weight: bolder;
        transform: translateX(0px);
        transition: 0.4s;

      }

    }

    .searchInput {
      background: none;
      outline: none;
      float: left;
      padding: 0;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 18.96px;
      letter-spacing: 0.15px;
      color: #FFFFFF;
      transition: 0.4s;
      width: 100%;

      &::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0);
        transition: 0.3s;
      }
    }
  }
}

.logoBox {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%, 0);

  @media (max-width: 1200px) {
    position: unset;
    transform: unset;
  }
  @media (max-width: 600px) {
    width: 80px;
  }

  width: 100px;

  img {
    width: 100%;
  }

}





